<div class="form-inline">
  <div class="form-group mb-12">
    Filtro:<input type="text" placeholder="Buscar" style="width: 400px; margin: 10px;"
    [(ngModel)]="filtroLista">
    <button class="btn btn-success">Buscar</button>
  </div>
</div>
<h6>Filtro: {{filtroLista}}</h6>
<table class="table table-striped">
  <thead style="background-color: black; color:chocolate; text-align: center;">
    <tr>
      <th>
        <button class="btn" style="background-color: crimson; color: black;"
        (click)="alternarImagem()">
          Mostrar Imagem
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados" style="text-align: center;">
      <td>
        <img *ngIf="mostrarImagem"
        src="http://localhost:5000/img/{{evento.imagemUrl}}"
        [style.width.px]="imagemLargura"
        [style.margin.px]="imagemMargem">
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote | uppercase}}</td>
      <td style="width: 250px; text-align: center;">
        <button class="btn btn-success" style="margin: 2px;">Adicionar</button>
        <button class="btn btn-warning">Detalhes</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum Evento Encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>

