<form class="form-inline">
  <div class="form-group mb-12">
    <input type="text" placeholder="Buscar" style="width: 400px; margin: 10px;">
    <button class="btn btn-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead style="background-color: black; color:chocolate;">
    <tr>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

